



#nav-menu {
  width: 60%;
    display: flex;
    justify-content: space-around;
    
}


#border-nav{
    border: solid 2px #fff;
  
   border-radius: 12px;
    transition: all 0.2s;
    
}
#border-nav:active{
    transform: translateY(5px);
    
    
}
#hero:hover{
    height: 73vh;
}





#apple-icon{
    height: 40px ;
    width: 40px;   
}
#google-icon{
    height: 40px ;
    width: 40px;
}
#hero-con{
    height: calc(100% - 80px) ;
}   


#plans-text1{
    font-family: "Raleway";
    margin-top: 80px;
    text-align: center;
    text-transform: capitalize;
    
    
} 
#plans-text2{
    width: 40%;
    text-align: center;
    margin: 0 auto ;
    font-weight: 200;
    font-family: "Raleway";
    
}
#card-cont{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    
   
}
.card {
    width: 23%;
     padding: 0;
    padding-top: 1% ;
   
     background: #fff;
    border-radius: 25px;
}


.card-header {
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    font-family: "Roboto Condensed" ;
    
    
} 
.price {
    font-size: 3rem;
    color: #1bb210;  
    
}
.plan-name{
    margin-top: 0;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
   
    
}

#iphone { 
    display: block;
  margin: 0 auto;
    margin-top: 100px;
    width: 60%;
    transition: all 0.1s; 
    cursor: pointer ;
    
}
#iphone:hover { 
    width: 65%;
    
}
.plan-specs-cont {
    background: #FCFCFC;
    display: flex;
    margin-top: 40px    ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 0 0 25px 25px;
    border-top :solid 1px #1bb210;
}
.plan-specs {
    text-align: center;
    font-family: "Roboto Condensed" ;
    
    
}
.check-icon{
    display: inline-block;
    background-image: url(assets/verified.svg);
    background-size: cover;
    height: 20px ;
    width: 20px;
    margin: 0 10px
    
}

.no-lg{
display: none !important;
    
}
