h1{font-size: calc(2em * 0.75);} 
h3{font-size: calc(1.17em * 0.75);} 
h4{font-size: calc(1.33em * 0.60);}
body{
    background: #dbdedc;
}

nav{ display: flex ;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: rgb(0,0,0,0.4) ;  
}

.nav-text {
    display: block;
color: #fff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
      padding: 12px;
     box-sizing: border-box;
    font-family: "Roboto Condensed" ;
   
}
.nav-text:hover {
    background: #1bb210;
    color: #fff;
    
    
}
.menu-link {
    text-decoration: none;
    color: #ffffff;
    
    
    
}

.menu-link:hover {
    color: rgb(0,0,0);
    
    
}
.menu-perent {
    width: 100%;
    
}
#nav-menu1 {
     margin: 0 auto;
  width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(0,0,0) ;
    
}
#logo-nav {
    height: 70%;
    width: auto;  
}
#border-nav{
    border: solid 2px #fff;
  
   border-radius: 12px;
    
    
}
#hero{
    height: 70vh;
    background-image: url(assets/bg.png);
    background-size: cover;
    
}

#hero-text1 {
    color: #fff;
    width: 75%;
    text-align: center;
    text-transform: capitalize;
     margin: 15px auto;
    font-family: "Raleway";
    
    
}
#hero-text2 {
    margin:15px auto;
    color: #fff;
    width: 60%;
    text-align: center;
    font-family: "Raleway";
    font-weight: 200;

}

.btn{
    background: #fff;
    height: 60px;
    width: 140px;
    text-transform: uppercase;
    opacity: 0.6;
    border-radius: 75px;
    margin: 0 30px;
    font-family: "Bowlby One SC";
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
        
}
#btns{
    margin: 0 auto ;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    
    
}
.btn:hover{
    
    opacity: 1;
    
    
}
#apple-icon{
    display: inline-block;
    background-image: url(assets/app-store.svg);
    height: 20px ;
    width: 20px;
    
}
#google-icon{
    display: inline-block;
    background-image: url(assets/playstore.svg);
    height: 20px ;
    width: 20px;
    
}
#hero-con{
    height: calc(100% - 80px) ;
    display: flex;
    flex-direction: column;

 align-items: center;
    justify-content: space-around;
}   


#plans-text1{
    font-family: "Raleway";
    margin-top: 80px;
    text-align: center;
    text-transform: capitalize;
    
    
} 
#plans-text2{
    width: 40%;
    text-align: center;
    margin: 0 auto ;
    font-weight: 200;
    font-family: "Raleway";
    
}
#card-cont{
    
    display: flex;
    flex-direction: column;
    align-items: center;
 
    
   
}
.card {
    margin-top: 60px;
    width: 50%;
     padding: 0;
    padding-top: 1% ;
   
     background: #fff;
    border-radius: 25px;
}


.card-header {
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    font-family: "Roboto Condensed" ;
    
    
} 
.price {
    font-size: calc(3rem*0.75);
    color: #1bb210;  
    
}
.plan-name{
    margin-top: 0;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
   
    
}

#iphone { 
    display: block;
  margin: 0 auto;
    margin-top: 100px;
    width: 70%;
    
}
.plan-specs-cont {
    background: #FCFCFC;
    display: flex;
    margin-top: 40px    ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 0 0 25px 25px;
    border-top :solid 1px #1bb210;
}
.plan-specs {
    text-align: center;
    font-family: "Roboto Condensed" ;
    
    
}
.check-icon{
    display: inline-block;
    background-image: url(assets/verified.svg);
    background-size: cover;
    height: 20px ;
    width: 20px;
    margin: 0 10px
    
}
.no-sm{
display: none !important;
    
}
.menu-ico{
    
    background-image: url(assets/menu.svg);
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: cover;
     margin-right: 15px;
}

