body{
    background: #dbdedc;
}

nav{ display: flex ;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(0,0,0,0.4) ;  
}

.nav-text {
color: #fff;
    display: block;
    text-transform: uppercase;
      padding:15px;
     box-sizing: border-box;
    font-family: "Roboto Condensed" ;
    text-align: center;
    transition: 0.2s;
   
}

.nav-text:hover {
    background-color: rgba(27,178,16,0.8);
    cursor: pointer;
}
.menu-link{
    color: #ffffff;
    text-decoration: none; 
}

#logo-nav {
    height: 70%;
    width: auto; 
}
#hero{
    height: 70vh;
    background-image: url(assets/bg.png);
    background-size: cover;
    
}

#hero-text1 {
    color: #fff;
    width: 75%;
    text-align: center;
    text-transform: capitalize;
     margin: 15px auto;
    font-family: "Raleway";
    
    
}
#hero-text2 {
    margin:15px auto;
    color: #fff;
    width: 60%;
    text-align: center;
    font-family: "Raleway";
    font-weight: 200;

}

.btn{
    background: #fff;
    height: 60px;
    width: 140px;
    text-transform: uppercase;
    opacity: 0.6;
    border-radius: 75px;
    margin: 0 30px;
    font-family: "Bowlby One SC";
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
      border: none;
    outline: none;
    cursor: pointer;
        transition: all 0.1s;
    box-shadow: 0 3px 15px rgb(0,0,0,0.7);
        
        
}
#btns{
    margin: 0 auto ;
    display: flex ;
    justify-content: center;
    
}
.btn:active{
    box-shadow: 0 1px 15px rgb(0,0,0,1);
    opacity: 1;
    transform: translateY(5px);
    
}
.btn:hover{
    
    opacity: 1;
    
    
}

#apple-icon{
    display: inline-block;
    background-image: url(assets/app-store.svg);
    height: 40px ;
    width: 40px;
    
}
#google-icon{
    display: inline-block;
    background-image: url(assets/playstore.svg);
    height: 40px ;
    width: 40px;
    
}
#hero-con{
    display: flex;
    flex-direction: column;

 align-items: center;
    justify-content: space-around;
}   